---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";

interface Props {
    title?: string;
    description?: string;
}

const {
    title = "Gianfranco Ureta — Diseñador & Desarrollador",
    description = "Portfolio de diseño y desarrollo fullstack",
} = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <ClientRouter />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <title>{title}</title>

        <!-- Fuente -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
            rel="stylesheet"
        />

        <script is:inline>
            const saved = localStorage.getItem("theme");
            if (saved === "light")
                document.documentElement.classList.add("light");
        </script>

        <script>
            document.addEventListener("astro:page-load", () => {
                const saved = localStorage.getItem("theme");
                if (saved === "light") {
                    document.documentElement.classList.add("light");
                } else {
                    document.documentElement.classList.remove("light");
                }
            });
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>
